.table-container_input-container {
  display: inline-block;
  width: 100%;
  margin: 1rem 0;

  .table-container_input-container_form {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
      margin-right: 1rem;
      margin-bottom: -1rem;
    }
  }
}

@supports (-moz-appearance: none) {
  .table-container_input-container {
    .table-container_input-container_form {
      :first-child {
        margin-bottom: -0.5rem;
      }
    }
  }
}
