<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="wrapper fadeInDown">
                            <div id="formContent">
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="onFormSubmit()">
                                    <div class="text-center mb-4">
                                        <img src="assets/img/hopes-launch.png" class="center goHome"
                                            routerLink="/" />
                                    </div>
                                    <div class="text-center mb-4">
                                        <h4>Recuperar contraseña</h4>
                                    </div>
                                    <input type="text" id="email" formControlName="email"
                                        class="form-control fadeIn second" name="email"
                                        [ngClass]="{ 'is-invalid': submitted && formControl.email.errors }"
                                        placeholder="email">
                                    <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
                                        <div *ngIf="formControl.email.errors.required">El email es obligatorio.
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-4 mb-2">
                                        <button [disabled]="loading" class="btn btn-outline-primary fadeIn fourth">
                                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                            Proceder
                                        </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>