<div class="app-reset-background flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="card app-reset-card">
          <div class="card-body app-reset-container-body">
            <div class="wrapper fadeInDown">
              <div id="formContent">
                <form [formGroup]="resetPasswordForm">
                  <div class="text-center mb-4">
                    <img
                      src="assets/img/hopes-logo.png"
                      class="center goHome"
                      [routerLink]="['/']"
                    />
                  </div>
                  <div class="text-center mb-4">
                    <p class="title">{{ 'recuperarcontraseña' | translate }}</p>
                  </div>
                  <app-input
                    type="text"
                    id="email"
                    formControlName="email"
                    name="email"
                    [isDisabled]="false"
                    [label]="'modal.editor.field.email' | translate"
                    [ngClass]="{
                      'is-invalid':
                        formControl.email.dirty && formControl.email.errors
                    }"
                    placeholder="email"
                  >
                  </app-input>
                  <div
                    *ngIf="formControl.email.dirty && formControl.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="formControl.email.errors.required">
                      {{ 'validations.emailRequired' | translate }}
                    </div>
                    <div *ngIf="formControl.email.errors.pattern">
                      {{ 'validations.email' | translate }}
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mt-4 mb-2">
                    <app-button
                      (click)="onFormSubmit()"
                      [loading]="loading"
                      clasesBtn="btn-outline-primary fadeIn fourth"
                      texto="btn.proceed"
                      type="submit"
                    >
                    </app-button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
