<div class="form-group dynamic-group field" [formGroup]="group">
  <div>{{ config.label | translate }}</div>
  <label
    [attr.for]="config.name"
    class="firefox-position dynamic-label dynamic-label-old"
  >
    {{ 'oldValue' | translate }}
  </label>
  <input
    [attr.id]="config.name + '-old'"
    [attr.name]="config.name + '-old'"
    class="dynamic-field"
    type="text"
    [attr.value]="oldValue"
    [attr.disabled]="true"
  />
  <label [attr.for]="config.name" class="firefox-position dynamic-label">
    {{ 'actualValue' | translate }}
  </label>
  <input
    [attr.id]="config.name"
    [attr.name]="config.name"
    class="dynamic-field"
    [type]="config.name.includes('date') ? 'date' : 'number'"
    (change)="onChange($event, config.name)"
  />
</div>
