<div class="container">
  <div class="dynamic-field">
    <label class="dynamic-label">
      {{ selectLabel | translate }}
    </label>
    <select class="form-control" (change)="onSelect($event)">
      <option *ngFor="let entry of entries; index as i" [value]="i">
        {{ entry.name | translate }}
      </option>
    </select>
  </div>

  <div *ngIf="showYears" class="dynamic-field">
    <label class="dynamic-label">
      {{ 'years' | translate }}
    </label>
    <input
      placeholder="years"
      type="number"
      value="0"
      (input)="onInput($event.target.value)"
    />
  </div>
</div>
