<div class="form-group dynamic-group field" [formGroup]="group">
  <label
    [attr.for]="config.name"
    class="firefox-position"
    [ngClass]="{
      'date-label': type === 'date',
      'dynamic-label': type !== 'date'
    } //'required-label': required"
  >
    {{ config.label | translate }}
  </label>
  <input
    [attr.id]="config.name"
    [attr.name]="config.name"
    [attr.placeholder]="config.placeholder"
    [formControlName]="config.name"
    class="dynamic-field"
    type="{{ config.inputType ? config.inputType : 'input' }}"
    [attr.autocomplete]="config.inputType == 'password' ? 'nope' : ''"
  />
</div>
