<div class="row m-0 p-0">
  <section class="col-md-12 col-lg-12 p-0 patients-container">
    <section class="patients-container">
      <section class="mt-4">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <app-search (emitAction)="onSearch($event)"></app-search>
          </div>
        </div>
      </section>
      <section class="mt-4">
        <app-button
          type="button"
          clasesBtn="btn-primary btn-sm mx-2"
          texto="btn.select"
          (click)="goToDermatologiPatients()"
          [readOnly]="!selectedPatient.id"
        ></app-button>
      </section>
      <div class="mt-4">
        <app-results-per-page
          (itemsPerPage)="itemsPerPage($event)"
          [paginationData]="paginationData"
        >
        </app-results-per-page>
      </div>
      <section class="mt-4">
        <app-table
          [actions]="actions"
          [showActionButtons]="true"
          [columnsHeader]="patientKeysToShow"
          [columnsData]="patients"
          (sort)="onSort($event)"
          (selectedItem)="onSelectedItem($event)"
        ></app-table>

        <app-pagination
          (selectPage)="selectPage($event)"
          [paginationData]="paginationData"
        >
        </app-pagination>
      </section>
    </section>
  </section>
</div>
