<label class="sr-only" for="inputSearch">Search</label>
<div class="input-group mb-2 mr-sm-2 app-search-container">
  <div class="input-group-prepend">
    <button id="button-search" type="submit" class="btn btn-link">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <input
    type="text"
    #input
    id="inputSearch"
    name="inputSearch"
    placeholder="Buscar..."
    class="form-control border-0"
  />
  <div class="input-group-append">
    <button
      id="button-cancel"
      type="submit"
      class="btn btn-link"
      (click)="clearSearch()"
    >
      <i class="fa fa-times-circle-o"></i>
    </button>
  </div>
</div>
