<div class="row m-0 p-0">
  <section class="col-md-12 p-0">
    <app-patient-header></app-patient-header>
  </section>

  <section class="col-md-12 p-0 mt-4" class="line-chart">
    <app-line-chart
      [config]="configChart"
      [lastDate]="lastDate"
      [firstDate]="firstDate"
      *ngIf="dataChart"
    >
    </app-line-chart>
  </section>

  <section class="col-md-12 p-0 mt-4">
    <div id="google-timeline-chart"></div>
    <app-dates-bar
      [dates]="globalDates"
      (indexes)="onChangeIndexes($event)"
      *ngIf="globalDates && globalDates.length"
    >
    </app-dates-bar>
  </section>
</div>
