.modal-content {
  width: 60vw;
  padding: 30px;
}

.form-group {
  margin-bottom: 2px;
}

.custom-date {
  position: relative;
  top: -0.3rem;
  left: 1rem;
  border: none;
}

.button-container {
  text-align: end;
  padding-right: 15px;
}
