<div class="row m-0 p-0">
    <section class="col-md-12 p-0">
        <app-patient-header></app-patient-header>
    </section>

    <div class="inline-div col-md-12 p-0">
        <!-- Gráfica CD4 -->
        <section class="col-md-6 mt-4" class="line-chart full-width first-graph" [hidden]="dataChart && dataChart[0].series.length === 0">
            <app-line-chart [config]="configCharts[0]" [lastDate]="lastDate" [firstDate]="firstDate" *ngIf="dataChart && dataChart[0]"> </app-line-chart>
        </section>
        <section *ngIf="dataChart && dataChart[0].series && dataChart[0].series.length === 0" class="line-chart full-width second-graph" class="no-data" style="width: 100%;">
            <h4>{{ 'charts.noCD4Data' | translate }}</h4>
        </section>
        <!-- Gráfica CVP -->
        <section class="col-md-6 mt-4" class="line-chart full-width second-graph" [hidden]="dataChart && dataChart[2].series.length === 0">
            <app-line-chart [config]="configCharts[2]" [lastDate]="lastDate" [firstDate]="firstDate" *ngIf="dataChart && dataChart[2]"> </app-line-chart>
        </section>
        <section *ngIf="dataChart && dataChart[2].series && dataChart[2].series.length === 0" class="line-chart full-width second-graph" class="no-data" style="width: 100%;">
            <h4>{{ 'charts.noCVPData' | translate }}</h4>
        </section>
    </div>
    <!-- Gráfica Glomerular -->
    <section class="col-md-12 wide-chart" [hidden]="dataChart && dataChart[1].series.length === 0">
        <app-line-chart style="width: 100vh;" [config]="configCharts[1]" [lastDate]="lastDate" [firstDate]="firstDate" *ngIf="dataChart && dataChart[1] && dataChart[1].series.length > 0"> </app-line-chart>
    </section>
    <section *ngIf="dataChart && dataChart[1].series && dataChart[1].series.length === 0" class="col-md-12 p-0 mt-4" class="no-data" style="width: 100%;">
        <h4>{{ 'charts.noGlomerularData' | translate }}</h4>
    </section>
    <!--  {{dataChart | json}} -->

    <!-- <section class="col-md-12 p-0 mt-4" class="full-width" [hidden]="noTreatmentData">
        <div id="google-timeline-chart"></div>
    </section>
    <section class="col-md-12 p-0 mt-0" class="no-data full-width no-treatments" [hidden]="!noTreatmentData">
        <h4>{{ 'charts.noTreatmentData' | translate }}</h4>
    </section>
    <section class="col-md-12 p-0 mt-4 date-selector full-width" [ngClass]="{ 'sticky-bottom': noData }">
        <app-dates-bar [dates]="globalDates" (indexes)="onChangeIndexes($event)" *ngIf="globalDates && globalDates.length"></app-dates-bar>
    </section> -->
</div>
