<div class="form-group">
  <span class="ui-float-label">
    <label for="{{ id }}">
      {{ labelValue | translate }}
    </label>
    <select
      class="form-control"
      name="{{ name }}"
      id="{{ id }}"
      [ngClass]="{ 'option-selected': optionSelected }"
      (input)="onInput($event.target.value)"
      [value]="currentValue"
    >
      <option *ngIf="!currentValue" value=""> </option>
      <option
        *ngFor="let option of options"
        [ngValue]="option"
        [selected]="option.name == value"
      >
        {{ option.name | translate }}
      </option>
    </select>
  </span>
</div>
