<div class="dynamic-field">
  <span class="ui-float-label">
    <label
      for="{{ id }}"
      [ngClass]="{
        'dynamic-label': true,
        'required-label': required
      }"
    >
      {{ labelValue | translate }}
    </label>
    <select
      class="form-control"
      name="{{ name }}"
      id="{{ id }}"
      [ngClass]="{ 'option-selected': optionChangeSelected }"
      (input)="onInput($event.target.value)"
      [value]="currentValue"
    >
      <option *ngIf="!currentValue" value=""> </option>
      <option *ngIf="currentValue && clearAfterSelect" value=""> </option>
      <option
        *ngFor="let option of options"
        [ngValue]="option"
        [selected]="option.name === value"
      >
        {{ option.name | translate }}
      </option>
    </select>
    <span
      *ngIf="currentValue && value !== null && value !== ''"
      class="tooltip"
    >
      <i>{{ value }}</i>
    </span>
  </span>
</div>
