@import '~src/assets/styles/variables.scss';

.modal-header {
  border-bottom: unset;
  padding: 0;

  &.editor-modal-header {
    color: $app-color-blue-main;
  }

  .close {
    color: $app-color-blue-main;
    font-size: 3rem;
    font-weight: 100;
    position: relative;
    top: -1rem;
  }
}
