<app-header></app-header>
<div class="row m-0 p-0">
  <section class="col-md-4 col-lg-3 m-0 p-0 sidemenu">
    <side-bar [currentMenuId]="menuId"></side-bar>
  </section>
  <section class="col-md-8 col-lg-9 patients-container">
    <section class="patients-container">
      <section class="container-fluid mt-4">
        <app-search (emitAction)="onSearch($event)"></app-search>
      </section>
      <section class="container-fluid mt-4">
        <app-button
          type="button"
          icono="fa fa-plus"
          clasesBtn="btn-primary btn-sm mx-2"
          texto="btn.new"
          (click)="savePatient()"
        ></app-button>
      </section>
      <section class="container-fluid mt-4">
        <app-table
          [columnsHeader]="columnsHeader"
          [columnsData]="prepareTableData()"
          (selectedItem)="onSelectedItem($event)"
          (selectedItemDobleClick)="onSelectItemDobleClick($event)"
          (iconButtonClick)="onIconButtonClick($event)"
        ></app-table>

        <app-pagination
          (selectPage)="selectPage($event)"
          [paginationData]="paginationData"
        >
        </app-pagination>
      </section>
    </section>
  </section>
</div>
