<section class="col-md-12 col-lg-12 m-0 p-0">
    <section class="patients-chart-container">
        <app-pie-chart [chartTitle]="'reasonLastChangeBiologicalTreatment'" [results]="dataChart" [showLabels]="false"></app-pie-chart>

        <div class="table-container" *ngIf="!showingDetail">
            <app-table [columnsHeader]="columHeaders" [columnsData]="dataTable" (iconButtonClick)="onIconButtonClick($event)" [actions]="actions" [showActionButtons]="true"> </app-table>
        </div>

        <div *ngIf="showingDetail" class="table-container">
            <div class="export-buttons">
                <app-export-buttons [dataToExport]="dataToExport"></app-export-buttons>
            </div>

            <app-table [columnsHeader]="headersDetailsTable" [columnsData]="detailsDataTable" [showActionButtons]="true" [actions]="actions" (iconButtonClick)="onPatientClick($event)" (sort)="onSort($event)" [sortable]="true"> </app-table>
            <app-pagination (selectPage)="selectPage($event)" [paginationData]="paginationData"> </app-pagination>
            <app-button type="button" clasesBtn="btn-primary btn-sm mx-2" texto="btn.back" (click)="onIconButtonClick({ type: 'back' })" icono="arrow-left"></app-button>
        </div>
    </section>
</section>
