@import '~src/assets/styles/variables.scss';

.dynamic-form-title-divider {
  border-top: 0.063rem solid $app-color-blue-border;
}

.title {
  color: $app-menu-blue-principal;
  font-size: 0.875rem;
  text-align: left;
  opacity: 1;
  margin-top: 1.25rem;
}
