.card .card-header img {
  width: 6rem;
}

.card-header {
  background-color: #fbfdff;
  border-color: #ecf3fa;
  border: 1px;
  padding-top: 1rem;
}

.card-body {
  background-color: #fbfdff;
  color: #363e63;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #fbfdff;
  border-color: #ecf3fa;
}

.card {
  max-width: 25rem;
  max-height: 25rem;

  &:hover {
    background-color: #ecf3fa;

    .card-body {
      background-color: #ecf3fa;
    }

    .card-header {
      background-color: #ecf3fa;
    }

    .btn-primary {
      background-color: #ecf3fa;
      border-color: #ecf3fa;
    }
  }
}

//Cuando haces clik en el boton
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #ecf3fa;
  border-color: #ecf3fa;
}

.card-img-top {
  max-width: 4rem;
  max-height: 4rem;
  min-width: 3rem;
  min-height: 3rem;
  height: -webkit-fill-available;
}
