<div>
  <app-patient-header></app-patient-header>
  perico
  <!--  <app-forms [key]="key"></app-forms>-->
  <div class="modal-body editor-modal-body m-2">
    <form [formGroup]="form" novalidate>
      <ng-container
        *ngFor="let formKey of formKeys; index as fieldIndex"
        [ngSwitch]="true">
        <section
          [class]="id + '-modal-field-group-' + fieldIndex"
          [ngClass]="getColSection(formKey)">
          <div *ngIf="setType(formKey) !== 'select' && setType(formKey) !== 'file'">
<span
  *ngSwitchCase="formKey === 'genderCode'"
  class="ui-float-label ng-button">
<label class="dynamic-label" for="formKey">
{{ 'modal.editor.field.' + formKey | lowercase | translate }}

  {{ checkIfRequired(formKey) ? '*' : null }}
</label>
<div
  class="btn-group btn-group-toggle margin-firefox-gender"
  name="radioBasic"
  ngbRadioGroup>
<label class="btn-primary" ngbButtonLabel>
<input [formControlName]="formKey" ngbButton type="radio" value="M"/>
  {{ 'M' | translate }}
</label>
<label class="btn-primary" ngbButtonLabel>
<input [formControlName]="formKey" ngbButton type="radio" value="F"/>
  {{ 'F' | translate }}
</label>
</div>
</span>
            <span
              *ngSwitchCase="formKey === 'active' || formKey === 'principal'"
              class="ui-float-label switch-type">
<app-switch
  [formControlName]="formKey"
  [label]="'modal.editor.field.' + formKey | lowercase | translate"
></app-switch>
</span>
            <span *ngSwitchCase="formKey === 'roles'">
<app-input-select
  (selectTrigger)="onRolSelected($event)"
  [clearAfterSelect]="true"
  [id]="formKey"
  [isDisabled]="false"
  [labelValue]="'modal.editor.field.' + formKey | translate"
  [name]="formKey"
  [optionSelected]="options[formKey].optionSelected"
  [options]="options[formKey].options"
  [placeholder]="'modal.editor.field.' + formKey | translate"
  [selectMultiple]="false"
  class="roles-select">
</app-input-select>
<p class="legend">{{ 'sections.legend.select' | translate }}</p>
<span>{{ 'modal.editor.field.active' + formKey | translate }}</span>
<hr/>
<div class="container-fluid">
<div class="row">
<div
  (click)="removeActiveRol(rol)"
  *ngFor="let rol of activeRoles"
  class="chip"
>
<span>{{ rol.name }}
  <i-feather name="x"></i-feather></span>
</div>
</div>
</div>
</span>
            <app-input
              *ngSwitchDefault
              [formControlName]="formKey"
              [id]="formKey"
              [invalidLabel]="getInvalidLabel(formKey)"
              [label]="'modal.editor.field.' + formKey | lowercase | translate"
              [maxDate]="maxDate"
              [name]="formKey"
              [placeholder]="'modal.editor.field.' + formKey | lowercase | translate"
              [required]="getRequired(formKey)"
              [required]="checkIfRequired(formKey)"
              [type]="getType(formKey)"
              [value]="form.controls[formKey].value">
            </app-input>
          </div>
          <app-input-select
            (selectTrigger)="onSelectItem($event)"
            *ngIf="setType(formKey) === 'select'"
            [currentValue]="form.controls[formKey].value"
            [form]="form"
            [id]="formKey"
            [isDisabled]="false"
            [labelValue]="'modal.editor.field.' + formKey | translate"
            [name]="formKey"
            [optionSelected]="options[formKey].optionSelected"
            [options]="options[formKey].options"
            [placeholder]="'modal.editor.field.' + formKey | translate"
            [required]="checkIfRequired(formKey)"
            [selectMultiple]="false"
            class="select-combo margin-firefox"
          >
          </app-input-select>

          <span>
<app-input-file
  *ngIf="setType(formKey) == 'file'"
  [accept]="setAccept(formKey)"
  [currentValue]="form.controls[formKey].value"
  [formGroup]="form"
  [id]="formKey"
  [label]="'modal.editor.field.' + formKey | lowercase | translate"
  [name]="formKey"
  [placeholder]="'modal.editor.field.' + formKey | lowercase | translate"
  [required]="checkIfRequired(formKey)"
  type="file">
</app-input-file>
</span>
        </section>
      </ng-container>
    </form>
    <label *ngIf="showRequiredLegend" class="requiredLegend">
      {{ 'requiredLegendText' | translate }}
    </label>
  </div>

  <div class="modal-footer editor-modal-footer">
    <app-button
      [readOnly]="!formValid()"
      clasesBtn="btn-primary btn-sm mx-2"
      icono="check"
      texto="btn.accept"
      type="button"
    ></app-button>
  </div>


</div>
