<app-header></app-header>
<div class="container mt-4">
    <app-search (emitAction)="filter($event)"></app-search>
</div>
<div class="container mt-4">
    <app-button type="button" icono="fa fa-plus" clasesBtn="btn-primary btn-sm mx-2"
        (click)="showModal({'isNew':true,'isEdit':false,'isDetail':false})" texto="btn.New"></app-button>
    <app-button type="button" icono="fa fa-pencil" clasesBtn="btn-primary btn-sm mx-2"
        (click)="showModal({'isEdit':true,'isDetail':false,'isNew':false})" texto="btn.Edit" [soloLectura]="S==null">
    </app-button>
    <app-button type="button"
        *ngIf="elementoSeleccionado==null || (elementoSeleccionado!=null && elementoSeleccionado.deleted!=true)"
        clasesBtn="btn-danger btn-sm mx-2" icono="fa fa-window-close" texto="btn.Delete"
        (click)="infoModal.show();" [soloLectura]="elementoSeleccionado==null"></app-button>
</div>
<p>medic-list works!</p>