.gallery-container {
  padding: 2rem;

  .photo-button {
    text-align: right;
  }

  .photos-container {
    text-align: center;

    .photo {
      height: 15rem;
      padding: 1rem;
      margin: 1rem;
      display: inline-block;

      .buttons-photo {
        cursor: pointer;
      }
    }
  }

  .qr-container {
    text-align: center;

    .qr {
      margin: 1rem;
      text-align: center;

      img {
        margin: 2rem;
      }
    }
  }

  .no-photos {
    font-size: 1.3rem;
    color: gray;
  }
}
