<div class="row m-0 p-0">
    <section class="col-md-12 col-lg-12 m-0 p-0 management-fluid justify-content-center">
        <div class="row pt-5 m-0 p-0">
            <div class="dynamic-field">
                <label class="dynamic-label">
                    {{ selectLabel | translate }}
                </label>
                <select id="chartSelector" class="form-control" (change)="onSelect($event)">
                    <option *ngFor="let option of options">
                        {{ option.name | translate }}
                    </option>
                </select>
            </div>
        </div>
    </section>
    <section class="col-md-12 col-lg-12 m-0 p-0">
        <section class="patients-chart-container">
            <app-pie-chart [chartTitle]="selectedChart" [results]="dataChart" [showLabels]="true" (chartItemSelected)="handleChartItemSelect($event)"></app-pie-chart>

            <div class="table-container" *ngIf="!showingDetail">
                <app-table [columnsHeader]="columHeaders" [columnsData]="dataTable" (iconButtonClick)="onIconButtonClick($event)" [actions]="actions" [showActionButtons]="true"> </app-table>
            </div>
            <div *ngIf="showingDetail" class="table-container">
                <div class="export-buttons">
                    <app-export-buttons [dataToExport]="dataToExport"></app-export-buttons>
                </div>

                <app-table [columnsHeader]="headersDetailsTable" [columnsData]="detailsDataTable" [showActionButtons]="true" [actions]="actions" (iconButtonClick)="onPatientClick($event)" (sort)="onSort($event)" [sortable]="true"> </app-table>
                <app-pagination (selectPage)="selectPage($event)" [paginationData]="paginationData"> </app-pagination>
                <app-button type="button" clasesBtn="btn-primary btn-sm mx-2 " texto="btn.back" (click)="onIconButtonClick({ type: 'back' })" icono="arrow-left"></app-button>
            </div>
        </section>
    </section>
</div>
