<nav class="navbar navbar-light master-header">
  <div class="row">
    <section class="col-md-6 col-lg-6">
      <button
        *ngIf="activateMenu"
        class="navbar-toggler mr-2"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href=""><img class="banner" src="assets/img/hopes-launch.png" /></a>
    </section>
    <section class="col-md-6 col-md-6 justifi-content-around">
      <div class="d-flex justify-content-around align-items-center">
        <span class="loged-user">Lorem Ipson Dollor(Jefe de Servicio)</span>
        <button type="button" class="btn btn-warning">
          Cambiar Contraseña
        </button>
        <button type="button" class="btn btn-danger">Desconectar</button>
      </div>
    </section>
  </div>
</nav>
