@import '~src/app/variables.scss';

.modal-body {
  &.editor-modal-body {
    section {
      display: inline-flex;
    }

    .dynamic-label {
      font-size: 1rem;
      color: $app-color-gray-dark;
    }

    .ng-button {
      position: relative;

      @media (min-width: 768px) {
        top: -1.55rem;
      }
    }

    .switch-type {
      @media (min-width: 991px) {
        position: absolute;
        top: -2.5rem;
      }
    }
  }
}
