<div class="modal-body editor-modal-body m-2">
  <form [formGroup]="form" novalidate>
    <ng-container
      *ngFor="let formKey of formKeys; index as fieldIndex"
      [ngSwitch]="true"
    >
      <section
        [class]="id + '-modal-field-group-' + fieldIndex"
        [ngClass]="{
          'col-sm-12 col-md-6 col-lg-4': formKey !== 'roles',
          'col-12': formKey === 'roles'
        }"
      >
        <div
          class="w-100"
          *ngIf="setType(formKey) !== 'select' && setType(formKey) !== 'file'"
        >
          <span
            class="ui-float-label ng-button"
            *ngSwitchCase="formKey === 'genderCode'"
          >
            <label for="formKey" class="dynamic-label">
              {{
                'modal.editor.field.' + formKey | lowercase | translate
              }}</label
            >
            <br />
            <div
              class="btn-group btn-group-toggle"
              ngbRadioGroup
              name="radioBasic"
              [formControlName]="formKey"
            >
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="M" />
                {{ 'male' | translate }}
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="F" />
                {{ 'female' | translate }}
              </label>
            </div>
          </span>
          <span
            class="ui-float-label switch-type"
            *ngSwitchCase="formKey === 'active' || formKey === 'principal'"
          >
            <app-switch
              [label]="'modal.editor.field.' + formKey | lowercase | translate"
              [formControlName]="formKey"
            ></app-switch>
          </span>
          <span class="w-100" *ngSwitchCase="formKey === 'roles'">
            <app-input-select
              [id]="formKey"
              [isDisabled]="false"
              [labelValue]="'modal.editor.field.' + formKey | translate"
              [name]="formKey"
              [options]="options[formKey]"
              [placeholder]="'modal.editor.field.' + formKey | translate"
              [selectMultiple]="false"
              [clearAfterSelect]="true"
              (selectTrigger)="onRolSelected($event)"
            ></app-input-select>
            <span>{{ 'modal.editor.field.active' + formKey | translate }}</span>
            <hr />
            <div class="container-fluid">
              <div class="row">
                <div
                  class="col-sm-12 col-md-6 col-lg-4"
                  *ngFor="let rol of activeRoles"
                >
                  {{ rol.name }}
                </div>
              </div>
            </div>
          </span>
          <app-input
            *ngSwitchDefault
            [id]="formKey"
            [label]="'modal.editor.field.' + formKey | lowercase | translate"
            [name]="formKey"
            [formControlName]="formKey"
            [value]="form.controls[formKey].value"
            [placeholder]="
              'modal.editor.field.' + formKey | lowercase | translate
            "
            [invalidLabel]="getInvalidLabel(formKey)"
            [type]="getType(formKey)"
          >
          </app-input>
        </div>
        <app-input-select
          [id]="formKey"
          [isDisabled]="false"
          [labelValue]="'modal.editor.field.' + formKey | translate"
          [name]="formKey"
          [options]="options[formKey]"
          [currentValue]="form.controls[formKey].value"
          [placeholder]="'modal.editor.field.' + formKey | translate"
          [selectMultiple]="false"
          [form]="form"
          *ngIf="setType(formKey) == 'select'"
        >
        </app-input-select>
        <app-input-file
          [id]="formKey"
          [label]="'modal.editor.field.' + formKey | lowercase | translate"
          [name]="formKey"
          [currentValue]="form.controls[formKey].value"
          [placeholder]="
            'modal.editor.field.' + formKey | lowercase | translate
          "
          type="file"
          [accept]="setAccept(formKey)"
          *ngIf="setType(formKey) == 'file'"
          [formGroup]="form"
        >
        </app-input-file>
      </section>
    </ng-container>
    <!-- <app-switch></app-switch> -->
  </form>
</div>
