<div class="modal-body editor-modal-body m-2">
  <form [formGroup]="form" novalidate>
    <ng-container
      *ngFor="let formKey of formKeys; index as fieldIndex"
      [ngSwitch]="formKey"
    >
      <section [ngClass]="id + '-modal-field-group-' + fieldIndex">
        <span *ngIf="!showSelect(formKey)">
          <span class="ui-float-label" *ngSwitchCase="'genderCode'">
            <label for="formKey" class="dynamic-label">
              {{
                'modal.editor.field.' + formKey | lowercase | translate
              }}</label
            >
            <br />
            <div
              class="btn-group btn-group-toggle"
              ngbRadioGroup
              name="radioBasic"
              [formControlName]="formKey"
            >
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="M" /> Masculino
              </label>
              <label ngbButtonLabel class="btn-primary">
                <input ngbButton type="radio" value="F" /> Femenino
              </label>
            </div>
          </span>

          <app-input
            *ngSwitchDefault
            [clases]="'dynamic'"
            [id]="formKey"
            [label]="'modal.editor.field.' + formKey | lowercase | translate"
            [name]="formKey"
            [formControlName]="formKey"
          >
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="M" /> Masculino
            </label>
            <label ngbButtonLabel class="btn-primary">
              <input ngbButton type="radio" value="F" /> Femenino
            </label>
          </div>
        </span>

        <app-input
          *ngSwitchDefault
          [id]="formKey"
          [label]="'modal.editor.field.' + formKey | lowercase | translate"
          [name]="formKey"
          [formControlName]="formKey"
          [value]="form.controls[formKey].value"
          [placeholder]="
            'modal.editor.field.' + formKey | lowercase | translate
          "
          [type]="formKey === 'birthDate' ? 'date' : 'text'"
        >
        </app-input>
        <app-input-select
          [id]="formKey"
          [isDisabled]="false"
          [labelValue]="'modal.editor.field.' + formKey | lowercase | translate"
          [name]="formKey"
          [options]="options[formKey]"
          [currentValue]="form.controls[formKey].value"
          [placeholder]="
            'modal.editor.field.' + formKey | lowercase | translate
          "
          [selectMultiple]="false"
          [form]="form"
          *ngIf="showSelect(formKey)"
        >
        </app-input-select>
      </section>
    </ng-container>
  </form>
</div>
