body {
	height: 100vh;
	background-color: rgb(255, 255, 255);
	color: rgb(37, 44, 78);
}

.btn-primary {
	background-color: rgb(41, 169, 224);
	border-radius: 0;
	border: .05rem solid rgb(41, 169, 224);
	color: rgb(255, 255, 255);
	text-shadow: none;
}

.btn-primary:hover{
	background-color: rgb(255, 255, 255);
	color: rgb(41, 169, 224);
	border: .05rem solid rgb(41, 169, 224);
}

.form {
	max-width: 400px;
	margin: auto;
}