@import '~src/app/core/components/basics/entry-menu-select/entry-menu-select.component.scss';

.patients-chart-container {
  .export-buttons {
    text-align: right;
    padding-bottom: 1rem;
  }

  .table-container {
    padding: 1rem;
    padding-top: 5rem;
  }
}

.dynamic-field {
  width: 20rem;
}

.container {
    margin-left: 0px;
}