<ul class="breadcrumbs_list">
  <li class="breadcrumbs_list-item" *ngIf="!crumbs">
    <a [attr.href]="homeUrl" (click)="navigate(homeUrl)">
      <i class="fa fa-home breadcrumbs_list-item_home" aria-hidden="true"></i>
    </a>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </li>

  <li
    [ngClass]="{
      'breadcrumbs_list-item': true,
      'breadcrumbs_list-item-active': i === crumbs.length - 1
    }"
    *ngFor="let crumb of crumbs; let i = index"
    [attr.data-index]="i"
  >
    <a
      [attr.href]="crumb.url"
      (click)="navigate(crumb.url)"
      *ngIf="crumb.description === 'Home'"
    >
      <i
        *ngIf="crumb.description === 'Home'"
        class="fa fa-home breadcrumbs_list-item_home"
        aria-hidden="true"
      ></i>
    </a>

    <a
      [attr.href]="crumb.url"
      (click)="navigate(crumb.url)"
      *ngIf="crumb.description !== 'Home'"
    >
      {{ crumb.title }}
    </a>
    <i
      *ngIf="i !== crumbs.length - 1"
      class="fa fa-chevron-right"
      aria-hidden="true"
    ></i>
  </li>
</ul>
