@import '~src/assets/styles/variables.scss';

.modal-header {
  border-bottom: none;
  padding: 2rem;

  &.editor-modal-header {
    color: $app-color-blue-main;
  }

  .close {
    color: $app-color-blue-main;
    font-size: 3rem;
    font-weight: 100;
    position: relative;
    top: -1rem;
  }
}

.modal-message {
  padding: 2rem;
  text-align: justify;
}

.modal-footer {
  border-top: unset;
  padding: 2rem;
  margin-top: 2rem;
}
