<div class="form-group dynamic-group field" [formGroup]="group">
  <label
    [attr.for]="config.name"
    class="firefox-position"
    [ngClass]="{
      'date-label': type === 'date',
      'dynamic-label': type !== 'date'
    }"
  >
    {{ config.label | translate }}
  </label>
  <input
    [attr.id]="config.name"
    [attr.name]="config.name"
    [formControlName]="config.name"
    class="dynamic-field"
    type="number"
    min="0"
    [attr.value]="config.value"
    [attr.disabled]="config.disabled"
  />
</div>
