.modal-content {
  padding: 3rem;
  border: unset;

  .modal-content_button-container {
    display: flex;
    justify-content: flex-end;
  }

  .modal-content_checkbox-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }

  .modal-content_table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
