<div class="modal-content">
  <app-generic-modal-header
    [title]="title"
    (close)="onClose()"
  ></app-generic-modal-header>
  <section class="row">
    <div
      class="col-2 modal-content_checkbox-container"
      *ngFor="let chart of dataParsed"
    >
      <label [for]="chart.chartTitle">{{ chart.chartConfig.chartTitle }}</label>
      <input
        [name]="chart.chartConfig.chartTitle"
        type="checkbox"
        [id]="chart.chartConfig.chartTitle"
        [(ngModel)]="chart.show"
      />
    </div>
  </section>

  <section class="row" *ngFor="let chart of dataParsed">
    <div class="col-6" *ngIf="chart.show">
      <app-line-chart [config]="chart.chartConfig"> </app-line-chart>
    </div>
    <div class="col-6 modal-content_table-container" *ngIf="chart.show">
      <app-table
        [showActionButtons]="false"
        [sortable]="false"
        [columnsHeader]="columnsHeader"
        [columnsData]="chart.tableConfig.series"
      >
      </app-table>
      <app-pagination
        [paginationData]="chart.tableConfig.paginationData"
        (selectPage)="selectedPage($event)"
      >
      </app-pagination>
    </div>
  </section>

  <section class="modal-content_button-container">
    <app-button
      type="button"
      clasesBtn="btn-danger btn-sm mx-2"
      icono="x"
      texto="btn.close"
      (click)="onClose()"
    ></app-button>
  </section>
</div>
