<div class="container-fluid">
  <form class="row" [formGroup]="userDataForm">
    <div class="col-12" *ngFor="let formKey of formKeys; index as fieldIndex">
      <app-input
        [id]="formKey"
        [name]="formKey"
        [formControlName]="formKey"
        [label]="'modal.editor.field.' + formKey | translate"
        [value]="userDataForm.controls[formKey].value"
        [placeholder]="'modal.editor.field.' + formKey | translate"
        [isDisabled]="true"
      >
      </app-input>
    </div>

    <div class="col-12 mt-4">
      <app-button
        class="button_change-password"
        type="button"
        clasesBtn="btn-primary btn-sm"
        texto="changePassword"
        (click)="showChangePasswordModal()"
        [disabledButton]="userDataForm.invalid"
      >
      </app-button>
    </div>

    <div class="col-12 mt-4">
      <app-input-select
        id="currentRole"
        name="currentRole"
        [isDisabled]="false"
        class="col-6"
        currentValue="currentRole"
        [options]="userRoles"
        [labelValue]="'currentRole' | translate"
        [optionSelected]="currentRole.id"
        [selectMultiple]="false"
        [clearAfterSelect]="false"
        (selectTrigger)="onSelectRole($event)"
      >
      </app-input-select>
    </div>
  </form>
</div>
