<div>
  <app-patient-header></app-patient-header>
  <form [formGroup]="pasiForm">
    <!-- pasi -->
    <div class="pasi">
      <div class="title">
        Psoriasis Activity Severity Index (PASI)
        <hr class="separator" />
      </div>
      <div class="container-flex">
        <div class="svg">
          <img src="assets/img/PASI.svg" alt="pasi" />
          <div class="svg-data">
            <div class="box-data">
              <span class="box-title">{{ 'PASI SCORE' | uppercase }}</span>
              <div class="box-data-info">
                {{ pasiScore ? pasiScore : '0' }} / 72
              </div>
            </div>
            <div class="box-data">
              <span class="box-title">
                {{ 'calificationPasi' | translate | uppercase }}</span
              >
              <div class="box-data-info">BLANQUEADO</div>
            </div>
          </div>
        </div>
        <div class="boxes">
          <div class="box-pasi" formGroupName="cabeza">
            <app-pasi-checkbox
              label="headNeck"
              (checked)="isChecked($event, 'head')"
            ></app-pasi-checkbox>
            <app-pasi-select [disabled]="!head"></app-pasi-select>
          </div>
          <div class="box-pasi" formGroupName="esup">
            <app-pasi-checkbox
              label="superiorExtremities"
              (checked)="isChecked($event, 'sup')"
            ></app-pasi-checkbox>
            <app-pasi-select [disabled]="!sup"></app-pasi-select>
          </div>
          <div class="box-pasi">
            <app-pasi-checkbox
              label="body"
              (checked)="isChecked($event, 'body')"
            ></app-pasi-checkbox>
            <app-pasi-select [disabled]="!body"></app-pasi-select>
          </div>
          <div class="box-pasi">
            <app-pasi-checkbox
              label="lowerExtremities"
              (checked)="isChecked($event, 'inf')"
            ></app-pasi-checkbox>
            <app-pasi-select [disabled]="!inf"></app-pasi-select>
          </div>
        </div>
      </div>
    </div>

    <!-- bsa pga -->
    <div class="double-title">
      <div class="bsa">
        <div class="title">
          Body Surface Area (BSA)
          <hr class="separator" />
        </div>
        <div class="container-flex">
          <div class="box-data">
            <span class="box-title">
              {{ 'bsa score' | uppercase }}
            </span>
            <div class="box-data-info">{{ bsaScore ? bsaScore : '0' }} %</div>
          </div>
          <div class="box-data">
            <span class="box-title">
              {{ 'calificationBsa' | translate | uppercase }}</span
            >
            <div class="box-data-info">
              {{ bsaCalification ? bsaCalification : '-' }}
            </div>
          </div>
        </div>
      </div>
      <div class="pga">
        <div class="title">
          Physician's Global Assessment (PGA)
          <hr class="separator" />
        </div>
        <div class="container-flex">
          <div class="custom-select">
            <label class="label">PGA</label>
            <select name="pga" id="pga" (change)="onSelectPGA($event)">
              <option *ngFor="let option of pga" [ngValue]="option">
                {{ option | translate }}
              </option>
            </select>
          </div>
          <div class="box-data">
            <span class="box-title">
              {{ 'calificationPga' | translate | uppercase }}</span
            >
            <div class="box-data-info">Blanqueado</div>
          </div>
        </div>
      </div>
    </div>
    <div class="eval-date">
      <div class="title">
        {{ 'evaluationDate' | translate }}
        <hr class="separator" />
      </div>
      <div class="custom-select">
        <label class="label"> {{ 'evaluationDate' | translate }}</label>
        <input
          type="date"
          class="custom-date"
          [max]="today"
          formControlName="evaluationDate"
        />
      </div>
    </div>
    <div class="buttons">
      <app-button
        type="button"
        icono="check-circle"
        clasesBtn="btn-primary btn-sm mx-2"
        texto="btn.save"
        (click)="onSave()"
      ></app-button>
      <app-button
        type="button"
        clasesBtn="btn-danger btn-sm mx-2"
        icono="x"
        texto="btn.cancel"
        (click)="onClose()"
      ></app-button>
    </div>
  </form>
</div>
