@import '~src/assets/styles/variables.scss';

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(54, 62, 99);
  margin-top: 2.5rem;

  .separator {
    color: $app-color-blue-border;
  }
}

.container-flex {
  margin-top: 2rem;
  display: flex;

  .box-data {
    font-size: 0.8rem;
    margin-right: 1rem;
    height: 2.3rem;
    background-color: $app-color-blue-very-light;
    border: 1px solid $app-color-blue-border;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .box-title {
      display: inline-block;
      padding: 0.4rem 0 0 0.5rem;
    }

    .box-data-info {
      padding: 0.5rem;
      min-width: 5rem;
      height: 2.2rem;
      font-weight: 600;
      float: right;
      text-align: center;
      margin-left: 1rem;
      background-color: $app-color-blue-border;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.svg {
  width: 45vw;
  height: 97.5vh;
  background:
    transparent
    linear-gradient(
      180deg,
      rgba(204, 224, 242, 0.14) 0%,
      rgba(204, 224, 242, 0.48) 100%
    )
    0% 0% no-repeat padding-box;

  svg {
    height: 80%;
    position: relative;
    top: 4vh;
    left: 8vw;

    #cabeza.checked-color,
    #esup.checked-color,
    #tronco.checked-color,
    #einf.checked-color {
      fill: rgb(41, 169, 224);
      stroke: rgb(54, 62, 99);
    }
  }

  .svg-data {
    display: flex;
    margin: 3rem 0 0 1rem;
  }
}

.boxes {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;

  .box-pasi {
    margin: 0 0 2rem 2rem;
    width: 17rem;
    height: 21rem;
    border: 1px solid $app-color-blue-border;
  }
}

.double-title {
  display: flex;

  .bsa {
    width: 50vw;

    .separator {
      margin-right: 3rem;
    }
  }

  .pga {
    width: 50vw;
  }
}

.buttons {
  margin: 2rem 0 2rem 0;
}

.custom-select {
  margin: 0 1rem 1rem 1rem;
  width: auto;
  height: 2.4rem;
  border: 1px solid $app-color-blue-border;
  border-radius: 0;

  select {
    position: relative;
    left: 1.2rem;
    top: -0.25rem;
    border: none;
    width: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .label {
    padding: 0.3rem;
    position: relative;
    top: -0.35rem;
    left: -0.75rem;
    background-color: $app-color-blue-very-light;
    height: 2.2rem;
  }

  .custom-date {
    position: relative;
    top: -0.3rem;
    left: 1rem;
    border: none;
  }
}
