<div class="modal-content">
  <app-generic-modal-header
    [title]="title | translate"
    (close)="onClose()"
  ></app-generic-modal-header>

  <h6>{{ 'resetPasswordInstructions' | translate }}</h6>

  <form class="row" [formGroup]="userDataForm">
    <div class="col-12" *ngFor="let formKey of formKeys; index as fieldIndex">
      <app-input
        [id]="formKey"
        [name]="formKey"
        [formControlName]="formKey"
        [label]="'modal.editor.field.' + formKey | translate"
        [value]="userDataForm.controls[formKey].value"
        [placeholder]="'modal.editor.field.' + formKey | translate"
        type="password"
        [invalidLabel]="getInvalidLabel(formKey)"
      >
      </app-input>
    </div>
  </form>

  <section class="modal-content_button-container">
    <app-button
      type="button"
      clasesBtn="btn-danger btn-sm mx-2"
      icono="x"
      texto="btn.close"
      (click)="onClose()"
    ></app-button>

    <app-button
      type="button"
      clasesBtn="btn-primary btn-sm mx-2"
      icono="check"
      texto="btn.accept"
      (click)="onSave()"
      [readOnly]="isFormValid()"
    ></app-button>
  </section>
</div>
