<section class="col-md-12 col-lg-12">
    <div class="row pt-3">
        <div class="container">
            <div class="dynamic-field">
                <label class="dynamic-label"> {{ 'reasonChangeOrSuspension' | translate }} </label>
                <select class="form-control" (change)="onSelectChange($event.target.value)">
                    <option *ngFor="let entry of options; index as i" [value]="i"> {{ entry.name | translate }} </option>
                </select>
            </div>
            <div class="dynamic-field">
                <label class="dynamic-label">
                    {{ 'years' | translate }}
                </label>
                <input placeholder="years" type="number" [value]="dataConfig.years" (input)="onInputChange($event.target.value)" />
            </div>
        </div>
    </div>
</section>

<section class="col-md-12 col-lg-12 m-0 p-0">
    <section class="patients-chart-container">
        <app-pie-chart [chartTitle]="'reasonLastChangeBiologicalTreatment'" [results]="dataChart" [showLabels]="false"></app-pie-chart>

        <div class="table-container" *ngIf="!showingDetail">
            <app-table [columnsHeader]="columHeaders" [columnsData]="dataTable" (iconButtonClick)="onIconButtonClick($event)" [actions]="actions" [showActionButtons]="true"> </app-table>
        </div>

        <div *ngIf="showingDetail" class="table-container">
            <div class="export-buttons">
                <app-export-buttons [dataToExport]="dataToExport"></app-export-buttons>
            </div>

            <app-table [columnsHeader]="headersDetailsTable" [columnsData]="detailsDataTable" [showActionButtons]="true" [actions]="actions" (iconButtonClick)="onPatientClick($event)" (sort)="onSort($event)" [sortable]="true"> </app-table>
            <app-pagination (selectPage)="selectPage($event)" [paginationData]="paginationData"> </app-pagination>
            <app-button type="button" clasesBtn="btn-primary btn-sm mx-2" texto="btn.back" (click)="onIconButtonClick({ type: 'back' })" icono="arrow-left"></app-button>
        </div>
    </section>
</section>