@import '~src/assets/styles/variables.scss';

.box-title {
  margin-top: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  color: $app-color-blue-main;
}

.box-data-section {
  display: flex;
  margin-top: 1.5rem;
  font-family: 'Raleway', sans-serif;
  padding-left: 0;
}

.data-box {
  justify-content: space-between;
  border: 1px solid $app-color-blue-border;
  display: flex;
  padding: 0.7rem 1rem;
  flex-direction: column;
}

.dataCell {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;

  .header {
    font-size: 0.8rem;
    color: $app-color-blue-main;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 200px;
  }

  .data {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
