.roles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #bbdefb;
    margin: 0.5em;
    padding: 0.6em;
    border-radius: 5px;
  }

  &.selected {
    background-color: #1e88e5;
    color: white;
  }

  &:hover {
    background-color: #0d47a1;
    color: white;
  }
}
