<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="wrapper fadeInDown">
                            <div id="formContent">
                                <form [formGroup]="selectRoleForm" (ngSubmit)="onFormSubmit()">
                                    <div class="text-center mb-4">
                                        <img src="assets/img/hopes-launch.png" class="center goHome" routerLink="/" />
                                    </div>
                                    <div class="text-center mb-4">
                                        <h4>Seleccine un Rol</h4>
                                    </div>
                                    <ul class="roles">
                                        <li *ngFor="let rol of roles" [class.selected]="rol === selectedRole"
                                            (click)="onSelect(rol)" class="text-center">
                                            {{rol}}
                                        </li>
                                    </ul>
                                    <div class="d-flex justify-content-center mt-4 mb-2">
                                        <app-button clasesBtn="btn-outline-primary" [soloLectura]="selectedRole==null"
                                            texto="btn.SELECCIONAR" [loading]="loading" (click)="onFormSubmit()">
                                        </app-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>