@import '~src/assets/styles/variables.scss';

.app-select-role-background {
  background-color: $app-color-blue-lighter;
  background-image: url('~src/assets/img/login-background.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;

  .app-img-size {
    width: 8rem;
  }

  .roles {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;

    li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: $app-color-blue-lighter;
      margin: 0.5em;
      padding: 0.6em;
      border-radius: 0;

      &.selected {
        background-color: $app-color-blue-medium-two;
        color: $app-color-white;
      }

      &:hover {
        background-color: $app-color-blue-main;
        color: $app-color-white;
      }
    }
  }
}
