@import '~src/app/variables.scss';

.roles {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: $app-color-blue-lighter;
    margin: 0.5em;
    padding: 0.6em;
    border-radius: 5px;

    &.selected {
      background-color: $app-color-blue-medium-two;
      color: $app-color-white;
    }

    &:hover {
      background-color: $app-color-blue-dark;
      color: $app-color-white;
    }
  }
}
