<div class="modal-content">
  <app-generic-modal-header [title]="title | translate" (close)="onClose()">
  </app-generic-modal-header>

  <form class="row" [formGroup]="form">
    <div class="col-12" *ngFor="let formKey of options; index as fieldIndex">
      <app-input
        [id]="formKey"
        [name]="formKey"
        [formControlName]="formKey"
        [label]="'modal.editor.field.' + formKey | translate"
        [value]="form.controls[formKey].value"
        [placeholder]="'modal.editor.field.' + formKey | translate"
        type="formKey.type"
        [invalidLabel]="getInvalidLabel(formKey)"
      >
      </app-input>
    </div>
  </form>

  <section class="modal-content_button-container">
    <button
      *ngIf="type === 'create'"
      class="btn btn-primary"
      (click)="onSave()"
    >
      <i-feather name="check"></i-feather>
      {{ 'btn.save' | translate }}
    </button>
    <button
      *ngIf="type === 'update'"
      class="btn btn-primary"
      (click)="onUpdate()"
    >
      <i-feather name="check"></i-feather>
      {{ 'btn.update' | translate }}
    </button>
    <button class="btn btn-danger" (click)="onClose()">
      <i-feather name="x"></i-feather>
      {{ 'btn.close' | translate }}
    </button>
  </section>
</div>
