//Colors
$app-color-red: rgba(255, 15, 15, 1);
$app-color-black: rgba(0, 0, 0, 1);
$app-color-blue-dark: rgb(13, 71, 161);
$app-color-blue-light: rgb(95, 186, 233);
$app-color-blue-lighter: rgb(187, 222, 251);
$app-color-blue-medium-two: rgb(30, 136, 229);
$app-color-blue-medium: rgb(36, 156, 241);
$app-color-gray-dark: rgb(155, 155, 155);
$app-color-gray-light: rgb(246, 246, 246);
$app-color-gray-medium: rgb(204, 204, 204);
$app-color-violet: rgb(55, 60, 97);
$app-color-white: rgb(255, 255, 255);
$app-switch-gray:rgb(204, 204, 204);
$app-switch-dark-gray:rgb(45, 45, 45);
$app-switch-green: rgb(76, 175, 80);
