<div class="form-group dynamic-group field" [formGroup]="group">
  <div class="add-btn">
    <app-button (click)="newRow()" clasesBtn="btn-primary" icono="plus-circle">
    </app-button>
  </div>
  <div class="container-fluid master-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let header of headers" scope="col">
            {{ header | translate }}
          </th>
          <th *ngIf="config.actions">
            {{ 'actions' | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; index as i" [formArrayName]="config.name">
          <td *ngFor="let header of headers">
            <div *ngIf="!isEditing || (isEditing && enableEditIndex !== i)">
              {{ row[header] }}
            </div>
            <input
              *ngIf="isEditing && enableEditIndex === i"
              [value]="row[header]"
              [fromControlName]="config.name[header]"
              (change)="onChangeInput($event, header, i)"
            />
          </td>
          <td *ngIf="config.actions">
            <div *ngIf="!isEditing">
              <a
                *ngFor="let action of config.actions"
                href=""
                (click)="emitIconButtonClick(action, i)"
              >
                <i class="mr-2 fa fa-{{ action }}"></i>
              </a>
            </div>
            <div *ngIf="isEditing && enableEditIndex === i">
              <a href="" (click)="onSaveRow()">
                Save
              </a>
              <a href="" (click)="onCancel()">
                Cancel
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
