@import '~src/assets/styles/variables.scss';
@import '../form-input/form-input.component.scss';

.search-btn {
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.modal-header {
  color: $app-color-blue-main;
  border: none;

  .modal-title {
    position: relative;
    top: 1rem;
    left: 0.5rem;
  }

  .close {
    color: $app-color-blue-main;
    font-size: 3rem;
    font-weight: 100;
    position: relative;
    top: 0.4rem;
    right: 1rem;

    &:focus {
      outline-color: white;
    }
  }
}

.modal-body {
  margin: 1rem;
}
