<div [formGroup]="form">
  <div>
    <p>Otros índices: NAPSI</p>
  </div>
  <div>
    <label>Fecha </label>
    <input
      [formControlName]="'evaluationDate'"
      [id]="'evaluationDate'"
      id="date"
      type="date"
      [value]="evaluationDate"
      (keydown)="(DontPush)"
    />
  </div>
  <div>
    <p>Matriz ungueal</p>
  </div>
  <div class="handsContainer">
    <div class="HandStyle">
      <span class="spanStyle">Mano izquierda</span>
      <app-button-nails
        [form]="form"
        [group]="'mano_izquierda_matriz'"
        class="col-12"
        [Valuehand]="'leftHand'"
      ></app-button-nails>
    </div>
    <div class="HandStyle">
      <span class="spanStyle">Mano Derecha</span>
      <app-button-nails
        [form]="form"
        [group]="'mano_derecha_matriz'"
        class="col-12"
        [Valuehand]="'rightHand'"
      ></app-button-nails>
    </div>
  </div>
  <div><p>Lecho ungueal</p></div>
  <div class="handsContainer">
    <div class="HandStyle">
      <span class="spanStyle">Mano izquierda</span>
      <app-button-nails
        [form]="form"
        [group]="'mano_izquierda_lecho'"
        class="col-12"
        [Valuehand]="'leftHand'"
      ></app-button-nails>
    </div>
    <div class="HandStyle">
      <span class="spanStyle">Mano derecha</span>
      <app-button-nails
        [form]="form"
        [group]="'mano_derecha_lecho'"
        class="col-12"
        [Valuehand]="'rightHand'"
      ></app-button-nails>
    </div>
  </div>
  <div class="box-data">
    <span class="box-title">NapsiScore</span>
    <div class="box-data-info">
      <input type="number" readonly formControlName="napsiScore" />
      /72
    </div>
  </div>
  <div>
    <section class="col-sm-12">
      <div class="buttons">
        <div class="submit-button">
          <button class="btn btn-primary" type="submit" (click)="save()">
            {{ 'btn.save' | translate }}
          </button>
          <button class="btn btn-primary" (click)="showChartFront()">
            {{ 'Graficos' | translate }}
          </button>
          <button class="btn btn-primary" type="submit" (click)="onClear()">
            {{ 'btn.cancel' | translate }}
          </button>
        </div>
      </div>
    </section>
  </div>
</div>
