@import '~src/assets/styles/variables.scss';

label {
  display: block;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.handsContainer {
  display: flex;
}

.HandStyle {
  top: 22.125rem;
  left: 36.875rem;
  width: 27rem;
  height: 21.688rem;
  background: transparent linear-gradient(180deg, $app-color-blue-box-nails 0%, $app-color-blue-box-nails-two 100%);
  border: 0.063rem solid $app-color-blue-border;
  opacity: 1;
  margin-right: 2.5rem;
  padding: 0.938rem;

  &:nth-child(2n) {
    background: $app-color-white;

    .spanStyle {
      float: right;
    }
  }
}

.title {
  margin-top: 3.125rem;
  border-bottom: 0.063rem solid $app-color-blue-border;
  font-weight: 800;
  font-size: 1.125rem;
}

.subTitle {
  margin-top: 2.625rem;
  margin-bottom: 2.438rem;
  font-size: 1rem;
  font-weight: 800;
  border-bottom: 0.063rem solid $app-color-blue-border;
}

.dateStyle {
  color: red;
}

.custom-select {
  width: 15rem;
  height: 2.4rem;
  border: 0.063rem solid $app-color-blue-border;
  border-radius: 0;
  margin-top: 1.25rem;

  input {
    position: relative;
    left: 6.6rem;
    top: -2.7rem;
    border: none;
    width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .label {
    padding: 0.3rem;
    position: relative;
    top: -0.35rem;
    left: -0.75rem;
    background-color: $app-color-blue-very-light;
    height: 2.2rem;
    width: 7rem;
  }
}

.buttons {
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.box-data {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}
