label {
  display: block;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.rightHandStyle {
  top: 354px;
  left: 590px;
  width: 432px;
  height: 347px;
  background: transparent linear-gradient(180deg, rgba(204, 224, 242, 0.14) 0%, rgba(204, 224, 242, 0.48) 100%) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(204, 224, 242, 1);
  opacity: 1;
  display: flex;
}

.menStyle {
  top: 497px;
  left: 618px;
  width: 59px;
  height: 100px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 249, 238, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(238, 234, 217, 1);
  opacity: 1;
  display: flex;
}

.rightButtonNailMen {
  top: 525px;
  left: 647px;
  width: 22px;
  height: 31px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftButtonNailMen {
  top: 525px;
  left: 625px;
  width: 22px;
  height: 31px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-top-right-radius: 60px;
}

.leftUpButtonNailMen {
  top: 494px;
  left: 625px;
  width: 22px;
  height: 31px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-right-radius: 60px;
}

.rightUpButtonNailMen {
  top: 494px;
  left: 647px;
  width: 22px;
  height: 31px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.anuStyle {
  top: 419px;
  left: 693px;
  width: 67px;
  height: 178px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 249, 238, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(238, 234, 217, 1);
  opacity: 1;
}

.rightUpButtonNailAnu {
  top: 415px;
  left: 727px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftUpButtonNailAnu {
  top: 415px;
  left: 702px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-right-radius: 60px;
}

.leftButtonNailAnu {
  top: 450px;
  left: 702px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-top-right-radius: 60px;
}

.rightButtonNailAnu {
  top: 450px;
  left: 727px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.corStyle {
  top: 401px;
  left: 774px;
  width: 67px;
  height: 196px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 249, 238, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(238, 234, 217, 1);
  opacity: 1;
}

.rightUpButtonNailCor {
  top: 397px;
  left: 808px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftUpButtonNailCor {
  top: 397px;
  left: 783px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-right-radius: 60px;
}

.leftButtonNailCor {
  top: 432px;
  left: 783px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-top-right-radius: 60px;
}

.rightButtonNailCor {
  top: 432px;
  left: 808px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.indStyle {
  top: 419px;
  left: 854px;
  width: 67px;
  height: 178px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 249, 238, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(238, 234, 217, 1);
  opacity: 1;
}

.rightButtonNailInd {
  top: 450px;
  left: 887px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftButtonNailInd {
  top: 450px;
  left: 862px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-top-right-radius: 60px;
}

.rightUpButtonNailInd {
  top: 415px;
  left: 887px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftUpButtonNailInd {
  top: 415px;
  left: 862px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-right-radius: 60px;
}

.pulStyle {
  top: 521px;
  left: 933px;
  width: 68px;
  height: 76px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 249, 238, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(238, 234, 217, 1);
  opacity: 1;
}

.rightUpButtonNailpul {
  top: 520px;
  left: 974px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftUpButtonNailpul {
  top: 520px;
  left: 949px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-right-radius: 60px;
}

.leftButtonNailpul {
  top: 556px;
  left: 949px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-top-right-radius: 60px;
}

.rightButtonNailpul {
  top: 556px;
  left: 974px;
  width: 25px;
  height: 36px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(204, 224, 242, 1);
  opacity: 1;
  border-bottom-left-radius: 60px;
}

.leftHandStyle {
  top: 354px;
  left: 1083px;
  width: 432px;
  height: 347px;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(204, 224, 242, 1);
  opacity: 1;
  display: flex;
}

.buttonNapsi {
  top: 609px;
  left: 612px;
  width: 70px;
  height: 72px;
  border: 1px solid rgba(204, 224, 242, 1);
  opacity: 1;
  background-color: white;
}
