<div>
  <app-patient-header></app-patient-header>
  <div>
    <p>Otros índices: NAPSI</p>
  </div>
  <div>
    <p>Matriz ungueal</p>
  </div>
  <div>
    <label>Fecha </label>
    <input id="date" type="date" [value]="Date" (keydown)="(DontPush)" />
  </div>
  <div class="rightHandStyle">
    <p>Mano derecha</p>
    <div>
      <input class="rightButtonNailMen" type="button" />
      <input class="leftButtonNailMen" type="button" />
      <input class="leftUpButtonNailMen" type="button" />
      <input class="rightUpButtonNailMen" type="button" />
      <div class="menStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        <p>Meñique</p>
        {{ Prueba }}
      </button>
    </div>
    <div>
      <input class="rightButtonNailAnu" type="button" />
      <input class="leftButtonNailAnu" type="button" />
      <input class="leftUpButtonNailAnu" type="button" />
      <input class="rightUpButtonNailAnu" type="button" />
      <div class="anuStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Anular</button>
    </div>
    <div>
      <input class="rightButtonNailCor" type="button" />
      <input class="leftButtonNailCor" type="button" />
      <input class="leftUpButtonNailCor" type="button" />
      <input class="rightUpButtonNailCor" type="button" />
      <div class="corStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        Corazón
      </button>
    </div>
    <div>
      <input class="rightButtonNailInd" type="button" />
      <input class="leftButtonNailInd" type="button" />
      <input class="leftUpButtonNailInd" type="button" />
      <input class="rightUpButtonNailInd" type="button" />
      <div class="indStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Indice</button>
    </div>
    <div>
      <input class="rightButtonNailpul" type="button" />
      <input class="leftButtonNailpul" type="button" />
      <input class="leftUpButtonNailpul" type="button" />
      <input class="rightUpButtonNailpul" type="button" />
      <div class="pulStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Pulgar</button>
    </div>
  </div>
  <div class="leftHandStyle">
    <div>
      <input class="rightButtonNailpul" type="button" />
      <input class="leftButtonNailpul" type="button" />
      <input class="leftUpButtonNailpul" type="button" />
      <input class="rightUpButtonNailpul" type="button" />
      <div class="pulStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Pulgar</button>
    </div>
    <div>
      <input class="rightButtonNailInd" type="button" />
      <input class="leftButtonNailInd" type="button" />
      <input class="leftUpButtonNailInd" type="button" />
      <input class="rightUpButtonNailInd" type="button" />
      <div class="indStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Indice</button>
    </div>
    <div>
      <input class="rightButtonNailCor" type="button" />
      <input class="leftButtonNailCor" type="button" />
      <input class="leftUpButtonNailCor" type="button" />
      <input class="rightUpButtonNailCor" type="button" />
      <div class="corStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        Corazón
      </button>
    </div>
    <div>
      <input class="rightButtonNailAnu" type="button" />
      <input class="leftButtonNailAnu" type="button" />
      <input class="leftUpButtonNailAnu" type="button" />
      <input class="rightUpButtonNailAnu" type="button" />
      <div class="anuStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Anular</button>
    </div>
    <div>
      <input class="rightButtonNailMen" type="button" />
      <input class="leftButtonNailMen" type="button" />
      <input class="leftUpButtonNailMen" type="button" />
      <input class="rightUpButtonNailMen" type="button" />
      <div class="menStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        <p>Meñique</p>
        {{ Prueba }}
      </button>
    </div>
  </div>
  <div><p>Lecho ungueal</p></div>
  <div class="rightHandStyle">
    <div>
      <input class="rightButtonNailMen" type="button" />
      <input class="leftButtonNailMen" type="button" />
      <input class="leftUpButtonNailMen" type="button" />
      <input class="rightUpButtonNailMen" type="button" />
      <div class="menStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        <p>Meñique</p>
        {{ Prueba }}
      </button>
    </div>
    <div>
      <input class="rightButtonNailAnu" type="button" />
      <input class="leftButtonNailAnu" type="button" />
      <input class="leftUpButtonNailAnu" type="button" />
      <input class="rightUpButtonNailAnu" type="button" />
      <div class="anuStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Anular</button>
    </div>
    <div>
      <input class="rightButtonNailCor" type="button" />
      <input class="leftButtonNailCor" type="button" />
      <input class="leftUpButtonNailCor" type="button" />
      <input class="rightUpButtonNailCor" type="button" />
      <div class="corStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        Corazón
      </button>
    </div>
    <div>
      <input class="rightButtonNailInd" type="button" />
      <input class="leftButtonNailInd" type="button" />
      <input class="leftUpButtonNailInd" type="button" />
      <input class="rightUpButtonNailInd" type="button" />
      <div class="indStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Indice</button>
    </div>
    <div>
      <input class="rightButtonNailpul" type="button" />
      <input class="leftButtonNailpul" type="button" />
      <input class="leftUpButtonNailpul" type="button" />
      <input class="rightUpButtonNailpul" type="button" />
      <div class="pulStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Pulgar</button>
    </div>
  </div>
  <div class="leftHandStyle">
    <div>
      <input class="rightButtonNailpul" type="button" />
      <input class="leftButtonNailpul" type="button" />
      <input class="leftUpButtonNailpul" type="button" />
      <input class="rightUpButtonNailpul" type="button" />
      <div class="pulStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Pulgar</button>
    </div>
    <div>
      <input class="rightButtonNailInd" type="button" />
      <input class="leftButtonNailInd" type="button" />
      <input class="leftUpButtonNailInd" type="button" />
      <input class="rightUpButtonNailInd" type="button" />
      <div class="indStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Indice</button>
    </div>
    <div>
      <input class="rightButtonNailCor" type="button" />
      <input class="leftButtonNailCor" type="button" />
      <input class="leftUpButtonNailCor" type="button" />
      <input class="rightUpButtonNailCor" type="button" />
      <div class="corStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        Corazón
      </button>
    </div>
    <div>
      <input class="rightButtonNailAnu" type="button" />
      <input class="leftButtonNailAnu" type="button" />
      <input class="leftUpButtonNailAnu" type="button" />
      <input class="rightUpButtonNailAnu" type="button" />
      <div class="anuStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">Anular</button>
    </div>
    <div>
      <input class="rightButtonNailMen" type="button" />
      <input class="leftButtonNailMen" type="button" />
      <input class="leftUpButtonNailMen" type="button" />
      <input class="rightUpButtonNailMen" type="button" />
      <div class="menStyle"></div>
      <button type="button" class="buttonNapsi" [value]="Prueba">
        <p>Meñique</p>
        {{ Prueba }}
      </button>
    </div>
  </div>
</div>
