<div class="row m-0 p-0">
  <section class="col-md-12 col-lg-12">
    <div class="container-fluid mt-4">
      <app-button
        *ngIf="!showDetails"
        type="button"
        icono="fa fa-plus"
        clasesBtn="btn-primary btn-sm mx-2"
        (click)="showModal()"
        texto="btn.new"
      >
      </app-button>
      <app-button
        *ngIf="showDetails"
        type="button"
        icono="fa fa-arrow-left"
        clasesBtn="btn-primary btn-sm mx-2"
        (click)="goBackToDispensations()"
        texto="btn.back"
      >
      </app-button>
    </div>
    <section class="container-fluid mt-4">
      <div *ngIf="!showDetails">
        <app-table
          [columnsHeader]="columnHeaders"
          [columnsData]="dispensations"
          (selectedItem)="onSelectedItem($event)"
          (sort)="onSort($event)"
          [showActionButtons]="true"
          (iconButtonClick)="onIconButtonClick($event)"
          [actions]="dispensationsTableActions"
        >
        </app-table>
      </div>

      <div *ngIf="showDetails">
        <app-table
          [columnsHeader]="dispensationDetailHeaders"
          [columnsData]="detailDispensations"
          (sort)="onSort($event)"
        >
        </app-table>
      </div>
      <app-pagination
        (selectPage)="selectPage($event)"
        [paginationData]="paginationData"
      >
      </app-pagination>
    </section>
  </section>
</div>
