<div class="row m-0 p-0">
  <section
    class="col-md-12 col-lg-12 m-0 p-0 management-fluid justify-content-center"
  >
    <div class="row pt-3">
      <div class="col-lg-6 col-md-6">Selecciona que quieres gestionar...</div>
      <div class="col-lg-6 col-md-6">
        <select (change)="handleChange($event)">
          <option *ngFor="let entry of children" [value]="entry.url">
            {{ entry.name }}
          </option>
        </select>
      </div>
    </div>
    <!-- <ng-container *ngFor="let module of modules">
      <article *ngIf="module.icon" class="col-sm-6 col-md-3 col-lg-3 mt-4">
        <home-dashboard-module [module]="module"></home-dashboard-module>
      </article>
    </ng-container> -->
  </section>
</div>

<router-outlet></router-outlet>
