<form
  class="dynamic-form row"
  [formGroup]="form"
  (submit)="handleSubmit($event)"
>
  <div
    *ngFor="let field of config"
    class=" {{ field.rows ? 'col-' + field.rows : 'col-12' }}"
    [hidden]="field.hidden === true"
  >
    <ng-container dynamicField [config]="field" [group]="form"> </ng-container>
    <div
      *ngIf="
        form.get(field.name) &&
        form.get(field.name).errors &&
        form.get(field.name).dirty
      "
    >
      <p *ngIf="form.get(field.name).hasError('required')">
        {{ 'validations.required' | translate }}
      </p>
      <p *ngIf="form.get(field.name).hasError('minlength')">
        {{ 'validations.minLength' | translate }}
      </p>
      <p *ngIf="form.get(field.name).hasError('maxlength')">
        {{ 'validations.maxLength' | translate }}
      </p>
      <p *ngIf="form.get(field.name).hasError('pattern')">
        {{ 'validations.pattern' | translate }}
      </p>
      <p *ngIf="form.get(field.name).hasError('email')">
        {{ 'validations.email' | translate }}
      </p>
    </div>
  </div>
  <!-- Form Buttons -->
  <div class="buttons">
    <div *ngFor="let button of buttons">
      <div *ngIf="button === 'save'">
        <div class="submit-button">
          <button class="btn btn-primary" type="submit">
            {{ 'btn.save' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="button === 'clean'">
        <div class="submit-button">
          <button
            class="btn btn-primary"
            type="button"
            (click)="cleanClick($event)"
          >
            {{ 'btn.clean' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="button === 'graphs'">
        <div class="submit-button">
          <button
            class="btn btn-primary"
            type="button"
            (click)="showChartFront($event)"
          >
            {{ 'btn.graphs' | translate }}
          </button>
        </div>
      </div>
      <div *ngIf="button === 'historic'">
        <div class="submit-button">
          <button class="btn btn-primary" type="button">
            {{ 'btn.historic' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
