<nav [ngClass]="{ collapsed: collapsed, 'side-bar': true }">
  <div class="brand">
    <span class="toggler" (click)="toggleCollapse()">
      <i-feather name="menu"></i-feather>
    </span>
    <a class="logo" href="">
      <img
        [ngClass]="{
          'logo-img': !collapsed,
          'logo-hidden': collapsed
        }"
        src="assets/img/hopes-logo.png"
        alt="Hopes image, click here and it takes you home."
      />
    </a>
  </div>
  <div class="user-item">
    <span class="dot">
      <i-feather name="user" class="feather-thin user"></i-feather>
    </span>
    <span class="user-data">
      <span class="username">{{ name | titlecase }}</span>
      <span class="rol">{{ rol }}</span>
    </span>
    <a class="icon logout" (click)="logout()">
      <i-feather name="power" class="feather-thin"></i-feather>
    </a>
  </div>
  <side-bar-menu
    class="scroller"
    [collapsed]="collapsed"
    [menu]="menu"
    [selected]="selected"
    [level]="level"
  ></side-bar-menu>
</nav>
