@import '~src/assets/styles/variables.scss';

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: $app-menu-blue-principal;
  min-height: 100%;
  color: $app-color-white;
  transition: 0.25s ease-in-out;
  width: 15rem;

  .brand {
    display: flex;
    align-items: center;
    background-color: $app-color-white;
    color: $app-color-blue-dark;
    padding: 0.8rem;
    height: 5rem;

    .logo {
      transition: 0.25s ease-in-out;
      margin: 0 auto;
    }

    .toggler {
      cursor: pointer;

      .fa {
        padding: 4px 6px;
        margin-right: 8px;

        &::before {
          margin-right: 2px;
        }
      }

      .fa-chevron-left {
        background-color: rgb(204, 224, 242);
        border-radius: 12px;
      }
    }

    .logo,
    .logo-img {
      height: 2.4rem;
    }
  }

  .user-item {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    background-color: $app-menu-blue-user;
    height: 4rem;

    .user-data {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      transition: 0.25s ease-in-out;

      .username {
        font-weight: 600;
      }

      .rol {
        font-size: 0.6rem;
      }
    }
  }

  .icon {
    color: rgb(146, 149, 166);
    font-size: 2rem;
    height: 2rem;
    margin-right: 1rem;
    text-align: center;
    width: 2rem;

    &.logout {
      cursor: pointer;
      transition: 0.25s ease-in-out;
      font-size: 1.4rem;

      &:hover {
        color: $app-color-red-main;
      }
    }
  }

  &.collapsed {
    overflow-x: hidden;
    max-width: 4rem;

    .brand .logo,
    .user-item .user-data,
    .user-data .icon.logout {
      opacity: 0;
    }
  }
}
