<div class="app-pagination-section">
    <ngb-pagination [collectionSize]="paginationData.totalElements" [(page)]="paginationData.number" [pageSize]="paginationData.size" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)">
        <ng-template ngbPaginationFirst>
            <i aria-hidden="true" class="fa fa-angle-double-left"></i>
        </ng-template>
        <ng-template ngbPaginationLast>
            <i aria-hidden="true" class="fa fa-angle-double-right"></i>
        </ng-template>
        <ng-template ngbPaginationPrevious>
            <i aria-hidden="true" class="fa fa-angle-left"></i>
        </ng-template>
        <ng-template ngbPaginationNext>
            <i aria-hidden="true" class="fa fa-angle-right"></i>
        </ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
    </ngb-pagination>
</div>
