@import '~src/assets/styles/variables.scss';

.app-pagination-section {
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.page-link {
  color: $app-color-blue-main;
  background-color: $app-color-white;
}
