<app-header></app-header>
<div class="row m-0 p-0">
  <section class="col-md-4 col-lg-3 m-0 p-0 sidemenu">
    <side-bar [menu]="menu" [currentMenuId]="menuId"></side-bar>
  </section>
  <section
    class="col-md-8 col-lg-9 p-0 management-fluid justify-content-center"
  >
    <section class="cie9-container" *ngIf="!showingDetail">
      <div class="chart-container">
        <app-pie-chart
          [chartTitle]="'patientsDiagnosticCIE9'"
          [results]="dataChart"
          [showLabels]="false"
        ></app-pie-chart>
      </div>
      <div class="table-container">
        <app-table
          [columnsHeader]="columHeaders"
          [columnsData]="dataTable"
          [showDetailButton]="true"
          (iconButtonClick)="onIconButtonClick($event)"
        >
        </app-table>
      </div>
    </section>
    <section class="cie9-container" *ngIf="showingDetail">
      <div class="table-container">
        <app-table [columnsHeader]="listHeaders" [columnsData]="listData">
        </app-table>
        <app-pagination
          (selectPage)="selectPage($event)"
          [paginationData]="paginationData"
        >
        </app-pagination>
        <app-button
          type="button"
          clasesBtn="btn-primary btn-sm mx-2"
          texto="backToChart"
          (click)="onIconButtonClick({ type: 'back' })"
        ></app-button>
      </div>
    </section>
  </section>
</div>
