@import '~src/app/variables.scss';

.side-bar-menu {
  color: $app-color-white;
}

.sub-side-bar-menu-level-1 {
  p {
    background-color: $app-color-blue-medium-two;
    text-indent: 1em;

    a {
      font-weight: normal !important;
    }
  }
}
