<ul class="nav navbar-light flex-column side-bar-menu">
  <ng-container *ngFor="let menuOption of menu; index as i">
    <!-- * Cuando padre visible * -->
    <li
      *ngIf="menuOption.visible; else elseBlock"
      [ngClass]="'sub-side-bar-menu-level-' + level"
      class="nav-item"
    >
      <span
        class="item"
        [ngClass]="{
          active: currentSection
            ? menuOption.id === currentSection.id ||
              menuOption.collapsed === false
            : null
        }"
      >
        <span *ngIf="level < 2" class="icon">
          <i-feather
            name="{{ ICONS[menuOption.title] }}"
            class="feather-thin"
          ></i-feather>
        </span>

        <a
          [ngClass]="{ 'nav-link': !collapsed, 'nav-link-hidden': collapsed }"
          (click)="goUrl(menuOption)"
        >
          {{ menuOption.title }}
        </a>

        <a
          [ngClass]="{ icon: !collapsed, 'icon-hidden': collapsed }"
          (click)="toggleColapseMenu(menuOption)"
          *ngIf="menuOption.children.length"
        >
          <i-feather
            *ngIf="menuOption.collapsed"
            name="chevron-down"
            class="feather-thin"
          ></i-feather>
          <i-feather
            *ngIf="!menuOption.collapsed"
            name="chevron-up"
            class="feather-thin"
          ></i-feather>
        </a>
      </span>
      <p *ngIf="!collapsed && !menuOption.collapsed" class="m-0 p-0">
        <side-bar-menu
          [level]="level + LEVEL_ONE"
          [menu]="menuOption.children"
          [parentSection]="menuOption"
        >
        </side-bar-menu>
      </p>
    </li>

    <!-- * Cuando el padre no es visible * -->
    <ng-template #elseBlock>
      <side-bar-menu
        [level]="level"
        [menu]="menuOption.children"
        [parentSection]="menuOption"
      >
      </side-bar-menu>
    </ng-template>
  </ng-container>
</ul>
