@import '~src/assets/styles/variables.scss';

.side-bar-menu,
.side-bar-menu .nav-link {
  color: $app-color-white;
}

.sub-side-bar-menu-level-2 .nav-link {
  transition: 0.5s;

  &:hover {
    background-color: $app-color-blue-medium-hover;
  }
}

.side-bar-menu .nav-link.active {
  background-color: $app-color-blue-medium-active;
}

.sub-side-bar-menu-level-1 {
  p {
    background-color: $app-color-blue-medium-two;
    text-indent: 1em;

    a {
      font-weight: normal !important;
    }
  }
}
