<section class="col-md-12 col-lg-12 m-0 p-0">
  <section class="patients-chart-container">
    <app-line-chart [config]="configChart" *ngIf="dataChart"> </app-line-chart>

    <div class="table-container">
      <div class="table-container_input-container">
        <form
          [formGroup]="formYearlyGoal"
          id="formYearlyGoal"
          class="table-container_input-container_form"
        >
          <app-input
            id="yearlyGoalValue"
            name="yearlyGoalValue"
            maxlength="20"
            formControlName="yearlyGoalValue"
            [isDisabled]="false"
            [label]="'yearlyGoalValue' | translate"
            type="number"
          >
          </app-input>
          <app-button
            (click)="onFormSubmit()"
            clasesBtn="btn-primary fadeIn fourth btn-block"
            texto="draw"
            type="submit"
          >
          </app-button>
        </form>
      </div>

      <app-table [columnsHeader]="columHeaders" [columnsData]="dataTable">
      </app-table>
    </div>
  </section>
</section>
