<div class="form-group dynamic-field" [formGroup]="group">
    <label [attr.for]="config.name" class="dynamic-label" [ngClass]="{ 'required-label': required }"> {{ config.label | translate }}</label>
    <select class="form-control" [formControlName]="config.name" [attr.name]="config.name" [attr.id]="config.name" (change)="onSelect($event)" [ngClass]="{ 'option-selected': optionSelected }">
        <option *ngIf="!config.value" value=""></option>
        <option *ngFor="let option of config.options" [ngValue]="option.value">
            {{ option.name | translate }}
        </option>
    </select>
</div>
