@import '~src/app/variables.scss';

.dynamic-field {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-right: 10px;

  .dynamic-label {
    position: absolute;
    top: 5px;
    display: block;
    transition: 0.2s;
    font-size: 1.1rem;
    color: $app-color-gray-dark;
  }

  select {
    border: 0;
    border-bottom: 2px solid $app-color-gray-dark;
    outline: 0;
    width: 100%;

    &:focus {
      border-width: 3px;
      border-image: linear-gradient(to right, $app-color-blue-medium, $app-color-blue-light);
      border-image-slice: 1;

      ~ .dynamic-label {
        color: $app-color-blue-medium;
      }
    }

    &.option-selected,
    &:focus {
      ~ .dynamic-label {
        position: absolute;
        top: -10px;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
      }
    }
  }
}
