<div class="form-group dynamic-group field">
    <span class="ui-float-label">
        <label
            class="firefox-position"
            for="{{ id }}"
            [ngClass]="{
                'date-label': type === 'date',
                'dynamic-label': type !== 'date',
                'required-label': required
            }"
            >{{ label | translate }}</label
        >
        <input
            (input)="onInput($event.target.value)"
            [disabled]="isDisabled"
            [value]="value"
            attr.maxlength="{{ maxlength }}"
            attr.placeholder="{{ placeholder | translate }}"
            class="dynamic-field"
            [ngClass]="{ invalid: invalid }"
            id="{{ id }}"
            name="{{ name }}"
            type="{{ type }}"
            attr.max="{{ type ? maxDate : null }}"
        />
    </span>
    <span *ngIf="invalid && invalidLabel" class="invalid-value">
        {{ invalidLabel | translate }}
        <ng-template [ngIf]="routerLink && routerLinkText"
            ><a routerLink="{{ routerLink }}">{{ routerLinkText | translate }}</a></ng-template
        >
    </span>
</div>
