<div class="container-fluid master-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          *ngFor="let header of columnsHeader"
          scope="col"
          sortable="{{ header }}"
          (sort)="emitOnSort($event)"
        >
          {{ header | translate }}
        </th>
        <th *ngIf="showActionButtons">
          {{ 'actions' | translate }}
        </th>
      </tr>
    </thead>
    <tbody *ngIf="columnsData && columnsData.length > 0">
      <tr *ngFor="let row of columnsData; index as i">
        <td *ngFor="let header of columnsHeader">
          {{
            header.toLowerCase().includes('date') ||
            header.toLowerCase().includes('period')
              ? (row[header] | date: 'dd/MM/yy')
              : header.toLowerCase().includes('gender')
              ? (row[header] | genderFormatter)
              : row[header]
          }}
        </td>
        <td *ngIf="showActionButtons">
          <div>
            <a
              *ngFor="let action of actions"
              href=""
              (click)="emitIconButtonClick(action.name, i)"
            >
              <i class="mr-2 {{ action.icon }}"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="columnsData && columnsData.length === 0" class="no-data">
    {{ 'noData' | translate }}
  </div>
</div>
