@import '~src/assets/styles/variables.scss';

.master-table {
  font-size: 0.75rem;
  word-break: break-all;

  .col-md-1,
  .col-md-2,
  .col-md-3 {
    padding: 0 6px;
  }

  .master-table-column-headers {
    height: 2rem;
    font-weight: bold;
    background-color: $app-color-blue-medium;
    color: $app-color-white;
  }

  thead {
    font-size: 0.75rem;

    tr {
      th {
        border-bottom: 2px solid $app-color-blue-border;
        border-top: 1px solid $app-color-blue-border;

        .table-head_icon-box {
          width: 9px;
          height: 9px;
          margin-left: 0.4rem;
          color: $app-color-blue-border;

          .table-head_icon-box_icon-active {
            color: $app-color-blue-main;
          }
        }

        &:first-child {
          background-color: $app-color-table-background;
        }
      }
    }
  }

  tbody {
    color: $app-color-text-input;
    font-size: 0.87rem;

    tr {
      height: 4rem;
      border-bottom: 1px solid $app-color-blue-border;

      &:nth-child(odd)td:first-child {
        background-color: $app-color-blue-lighter;
      }

      &:nth-child(even)td:first-child {
        background-color: $app-color-table-background;
      }

      &:nth-of-type(odd) {
        background-color: $app-color-table-background;
      }

      td {
        vertical-align: middle;
        padding-left: 1rem;
        border-top: 1px solid $app-color-blue-border;

        .table-body_row_actions {
          display: flex;

          .feather-icon {
            width: 1rem !important;
          }

          .table-body_row_actions-container {
            align-items: center;
            background-color: $app-color-blue-main;
            border-radius: 100%;
            color: $app-color-white;
            display: flex;
            height: 2rem;
            justify-content: center;
            margin-right: 1.2rem;
            text-decoration: none;
            width: 2rem;

            &.delete {
              background-color: $app-color-red-main;
            }

            i {
              margin: 0;
            }
          }
        }
      }
    }
  }

  .row.master-table-data-row.activate {
    background-color: $app-color-blue-lighter;
  }
}

.pointer {
  cursor: pointer;
}

.headerTable {
  white-space: nowrap;
}

.dataTable {
  white-space: nowrap;
}
