@import '~src/app/variables.scss';

.master-table {
  font-size: 12px;

  .master-table-column-headers {
    background-color: $app-color-blue-dark;
    color: $app-color-white;
    font-weight: bold;
  }

  .master-table-data-row {
    &:nth-child(2n) {
      background-color: $app-color-blue-lighter;
    }

    &:hover {
      background-color: $app-color-blue-medium-two;
    }
  }

  .row.master-table-data-row.activate {
    background-color: $app-color-blue-medium-two;
  }
}
