@import '~src/assets/styles/variables.scss';

.master-table {
  font-size: 12px;
  word-break: break-all;

  th {
    cursor: pointer;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3 {
    padding: 0 6px;
  }

  .master-table-column-headers {
    height: 2rem;
    font-weight: bold;
    background-color: $app-color-blue-medium;
    color: $app-color-white;
  }

  .master-table-data-row {
    border-bottom: 1px solid $app-color-gray-medium;

    &:hover {
      background-color: $app-color-gray-light;
    }
  }

  .row.master-table-data-row.activate {
    background-color: $app-color-blue-lighter;
  }
}
