<div class="container-fluid master-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th
          *ngFor="let header of columnsHeader"
          scope="col"
          sortable="{{ header }}"
          (sort)="emitOnSort($event)"
        >
          {{ header | translate }}
        </th>
        <th *ngIf="showActionButtons || showDetailButton">
          {{ 'actions' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of columnsData; index as i">
        <td *ngFor="let header of columnsHeader">
          {{
            header.toLowerCase().includes('date') ||
            header.toLowerCase().includes('period')
              ? (row[header] | date: 'dd/MM/yy')
              : header.toLowerCase().includes('gender')
              ? (row[header] | genderFormatter)
              : row[header]
          }}
        </td>
        <td *ngIf="showActionButtons">
          <div>
            <a href="" (click)="emitIconButtonClick('edit', i)"
              ><i class="mr-2 fa fa-pencil"></i
            ></a>
            <a href="" (click)="emitIconButtonClick('delete', i)"
              ><i class="mr-2 fa fa-close cfa-red"></i
            ></a>
          </div>
        </td>
        <td *ngIf="showDetailButton">
          <div>
            <a href="" (click)="emitIconButtonClick('detail', i)"
              ><i class="mr-2 fa fa-eye"></i
            ></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
