//Colors
$app-color-red: rgba(255, 15, 15, 1);
$app-color-black: rgba(0, 0, 0, 1);
$app-color-blue-dark: rgb(13, 71, 161);
$app-color-blue-light: rgb(95, 186, 233);

$app-color-blue-medium-two: rgb(30, 136, 229);
$app-color-blue-medium: rgb(36, 156, 241);
$app-color-blue-medium-active: rgb(19, 93, 184);
$app-color-blue-medium-hover: rgb(24, 114, 206);
$app-color-gray-dark: rgb(155, 155, 155);
$app-color-gray-light: rgb(246, 246, 246);
$app-color-gray-medium: rgb(204, 204, 204);
$app-color-violet: rgb(55, 60, 97);
$app-color-white: rgb(255, 255, 255);
$app-switch-gray: rgb(204, 204, 204);
$app-switch-dark-gray: rgb(45, 45, 45);
$app-switch-green: rgb(76, 175, 80);

// Colors new design
$app-color-blue-main: rgb(41, 169, 224);
$app-color-border-blue: rgba(9, 107, 143, 0.3);
$app-color-blue-lighter: rgb(238, 247, 255);
$app-color-red-main: rgb(233, 101, 101);
$app-color-text-input: rgb(13, 22, 68);
