
// TODO: Delete unnecessary or redundant colors

//Colors
$app-color-black: rgba(0, 0, 0, 1);
$app-color-blue-dark: rgb(13, 71, 161);
$app-color-blue-light: rgb(95, 186, 233);
$app-color-blue-medium-two: rgb(30, 136, 229);
$app-color-blue-medium: rgb(36, 156, 241);
$app-color-blue-medium-active: rgb(19, 93, 184);
$app-color-gray-dark: rgb(155, 155, 155);
$app-color-gray-medium: rgb(204, 204, 204);
$app-color-gray-light: rgb(235, 235, 235);
$app-color-white: rgb(255, 255, 255);

$app-menu-blue-user: rgb(37, 44, 78);
$app-menu-blue-principal: rgb(54, 62, 99);
$app-menu-blue-secondary: rgb(50, 88, 130);
$app-menu-blue-secondary-active: rgb(45, 131, 181);
$app-menu-blue-secondary-active-border: rgb(0, 178, 255);

// Colors new design
$app-color-blue-main: rgb(41, 169, 224);
$app-color-blue-border: rgb(204, 224, 242);
$app-color-table-background: rgb(249, 252, 255);
$app-color-blue-main-hover: rgb(24, 114, 206);
$app-color-blue-lighter: rgb(238, 247, 255);
$app-color-white: rgb(255, 255, 255);
$app-color-border-blue: rgba(9, 107, 143, 0.3);
$app-color-red-main: rgb(233, 101, 101);
$app-color-text-input: rgb(13, 22, 68);
$app-color-blue-very-light: rgb(249, 252, 255);
$app-color-blue-nails: rgba(139, 208, 238, 1);
