@import '~src/assets/styles/variables.scss';
@import '~src/app/core/components/basics/entry-menu-select/entry-menu-select.component.scss';

.container {
  margin-top: 2rem;
  display: flex;
  margin-left: 0;
}

.dynamic-field {
  position: relative;
  margin-right: 2rem;
  top: -2.75rem;
  width: 17rem;

  .dynamic-label {
    position: relative;
    top: 1.3rem;
    font-size: 0.8rem;
    left: 0.5rem;
    margin-left: 0.3rem;
    color: $app-color-blue-main;
    background-color: white;
    padding: 0 0.4rem;
  }
}
