@import '~src/assets/styles/variables.scss';

.box-data-section {
  display: flex;
  margin-top: 1.5rem;
  font-family: 'Raleway', sans-serif;
  padding-left: 0;
}

.back-button {
  min-width: 67px;
  min-height: 66px;
  max-width: 67px;
  max-height: 66px;
  border: 1px solid $app-color-blue-border;
  background: $app-color-blue-very-light;
  margin-right: 1.5rem;
  cursor: pointer;

  &:hover {
    background: $app-color-blue-lighter;
  }
}

.data-box {
  justify-content: space-between;
  border: 1px solid $app-color-blue-border;
  display: flex;
  padding: 0.7rem 1rem;
}

.dataCell {
  margin-right: 0.5rem;
  margin-left: 0.5rem;

  .header {
    font-size: 0.8rem;
    color: $app-color-blue-main;
    text-transform: uppercase;
    margin-bottom: -0.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .data {
    margin-top: -0.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
