<section class="col-md-12 col-lg-12 box-data-section">
  <div class="col-md-1 back-button" (click)="back()">
    <i-feather name="arrow-left" class="feather-icon"></i-feather>
  </div>
  <div
    class="col-md-11 data-box"
    [ngbTooltip]="parserDataToShowInTooltip()"
    placement="bottom"
  >
    <div *ngFor="let key of keysToShow" class="dataCell">
      <div class="header">
        {{ showKey(key) | translate }}
      </div>
      <div class="data">
        {{ parsedata(currentData, key) | translate }}
      </div>
    </div>
  </div>
</section>
